<ion-view view-title="时间提醒">
    <ion-content style="background-color: #f2f2f2">
        <ion-list>
            <ion-item class="item-remove-animate item-icon-right"  type="item-text-wrap" href="" style="margin-bottom: 20px">
                <span style="float: left">距离放假还有</span>
                <span class="remainNum">1</span>
                <span class="remainDays">天</span>
                <ion-option-button class="button-assertive" ng-click="">
                    删除
                </ion-option-button>
            </ion-item>
            <ion-item class="item-remove-animate item-icon-right"  type="item-text-wrap" href="" style="margin-bottom: 20px">
                <span style="float: left">距离周一已经</span>
                <span class="pastNum">3</span>
                <span class="pastDays">天</span>
                <ion-option-button class="button-assertive" ng-click="">
                    删除
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>