<ion-view view-title="时间提醒">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-android-add" ng-click="showAddItemModal()">

        </button>
    </ion-nav-buttons>
    <ion-content style="background-color: #f2f2f2">
        <ion-list>
            <ion-item class="item-remove-animate item-icon-right" ng-repeat="data in datelist track by $index" type="item-text-wrap" href="#/tab/dash/dateCounter/{{$index}}" style="margin-bottom: 20px">
                <span style="float: left" ng-if="data.remainDays>=0">距离{{data.title}}还有</span>
                <span style="float: left" ng-if="data.remainDays<0">距离{{data.title}}已经</span>
                <span class="remainNum" ng-if="data.remainDays>=0">{{data.remainDays}}</span>
                <span class="pastNum" ng-if="data.remainDays<0">{{-data.remainDays}}</span>
                <span ng-class="data.remainDays<0?'pastDays':'remainDays'">天</span>
                <ion-option-button class="button-assertive" ng-click="remove($index)">
                    删除
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>

<script id="add-or-edit-date.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar>
            <h1 class="title">添加时间提醒</h1>
        </ion-header-bar>
        <ion-content>
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" placeholder="标题"  ng-model="newItem.title">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="日期"  ng-model="newItem.date">
                </label>
            </div>
            <div class="padding">
                <button ng-click="saveItem()" class="button button-block button-positive activated">确定</button>
                <button ng-click="cancleItem()" class="button button-block button-positive activated">取消</button>
            </div>
        </ion-content>
    </ion-modal-view>
</script>