<ion-view view-title="主页">
  <ion-nav-buttons side="right">
      <button class="button" ng-click="account()">
          登录|登出
      </button>
  </ion-nav-buttons>
  <ion-content>
          <div style="height: 50%;">
              <button class="button-full" ng-click="doSomething()">
                  上半部菜单
              </button>
          </div>
          <div class="row">
              <div class="col">
                  <div>功能一</div>
                  <i class="icon ion-plane"></i>
              </div>
              <div class="col">
                  <div>功能二</div>
                  <i class="icon ion-android-train"></i>
              </div>
          </div>

          <div class="row">
              <div class="col">
                  <div>功能三</div>
                  <i class="icon ion-home"></i>
              </div>
              <div class="col" >
                  <i class="icon ion-person"></i>
                  <div>功能四</div>
              </div>
              <div class="col">
                  <div>功能五</div>
                  <i class="icon ion-android-train"></i>
              </div>
          </div>

          <div class="row">
              <div class="col">
                  <div>功能六</div>
                  <i class="icon ion-image"></i>
              </div>
              <div class="col">

                  <i class="icon ion-pricetag"></i>
              </div>
              <div class="col">

                  <i class="icon ion-person-stalker"></i>
              </div>
          </div>
  </ion-content>
</ion-view>
<script id="account.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar-energized">
            <h1 class="title">我的账户</h1>
            <a class="button" ng-click="closeModal();">关闭</a>
        </ion-header-bar>
        <ion-content>
            登录与登出
        </ion-content>
    </ion-modal-view>
</script>
