<ion-view view-title="主页">
  <ion-nav-buttons side="right">
      <button class="button" ng-click="account()">
          登录|登出
      </button>
  </ion-nav-buttons>
  <ion-content>
          <div class="row dark-bg" align="center">
              <div class="col button button-clear"  ng-click="toSchedule()">
                  <i class="ion-grid myIcon"></i>
                  <div>
                      课表
                  </div>
              </div>
              <div class="col button button-clear" ng-click="toShare()">
                  <i class="ion-android-expand myIcon"></i>
                  <div>
                      分享
                  </div>
              </div>
          </div>

      <div class="row myRow" align="center">
          <div class="col button myButton"  ng-click="toNote()">
              <i class="ion-ios-compose myIcon"></i>
              <div>
                  笔记
              </div>
          </div>
          <div class="col button myButton"  ng-click="toDateCounter()">
              <i class="ion-ios-alarm myIcon"></i>
              <div>
                  时间提醒
              </div>
          </div>
          <div class="col button myButton" ng-click="showInforms()">
              <i class="ion-ios-pulse-strong myIcon"></i>
              <div>
                  通知
              </div>
          </div>
      </div>

      <div class="row myRow" align="center">
          <div class="col button myButton"  ng-click="doSomething()">
              <i class="ion-ios-more myIcon"></i>
              <div>
                  待
              </div>
          </div>
          <div class="col button myButton"  ng-click="doSomething()">
              <i class="ion-ios-more myIcon"></i>
              <div>
                  拓
              </div>
          </div>
          <div class="col button myButton"  ng-click="doSomething()">
              <i class="ion-ios-more myIcon"></i>
              <div>
                  展
              </div>
          </div>
      </div>

      <div class="row myRow" align="center">
          <ion-slide-box style="flex: 1;" does-continue="true" auto-play="true">
              <ion-slide>
                  <div class="box positive-bg">
                      <h1>内容</h1>
                  </div>
              </ion-slide>
              <ion-slide>
                  <div class="box" style="background-image: url('img/surfing.jpg');background-size: cover;"></div>
              </ion-slide>
              <ion-slide>
                  <div class="box balanced-bg">
                      <br>
                      <h1>一息尚存</h1>
                      <h1>&nbsp;&nbsp;&nbsp;&nbsp;不容懈怠</h1>
                  </div>
              </ion-slide>
          </ion-slide-box>
      </div>
  </ion-content>
</ion-view>
<script id="account.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar-energized">
            <h1 class="title">我的账户</h1>
            <a class="button" ng-click="closeModal();">关闭</a>
        </ion-header-bar>
        <ion-content>
            登录与登出
        </ion-content>
    </ion-modal-view>

</script>
