.myIcon {
    font-size: 40px;
}

.myRow {
    padding: 0px;
}

.myButton {
    border-radius: 0px;
}

.box {
    height:200px;
}

.writeText {
    width: 100%;
    margin: 0;
    color: #000;
    padding: 10px 5px 0 15px;
    line-height: 22px;
    height: 100%;
    font-size: 1.6rem;
    resize: none;
}