.myIcon {
    font-size: 40px;
}

.myRow {
    padding: 0px;
}

.myButton {
    border-radius: 0px;
}

.box {
    height:200px;
}

.writeText {
    width: 100%;
    margin: 0;
    color: #000;
    padding: 10px 5px 0 15px;
    line-height: 22px;
    height: 100%;
    font-size: 1.6rem;
    resize: none;
}

.remainDays {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #387EF5;
    color: #ffffff;
    height: 52px;
    line-height: 52px;
    width: 50px;
    text-align: center;
}
.remainNum {
    position: absolute;
    right: 50px;
    top: 0;
    background-color: #52BEF8;
    color: #ffffff;
    height: 52px;
    line-height: 52px;
    width: 100px;
    text-align: center;
}
.pastDays {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #D54C25;
    color: #ffffff;
    height: 52px;
    line-height: 52px;
    width: 50px;
    text-align: center;
}
.pastNum {
    position: absolute;
    right: 50px;
    top: 0;
    background-color: #EE952A;
    color: #ffffff;
    height: 52px;
    line-height: 52px;
    width: 100px;
    text-align: center;
}

.dateCounter_detail {
    background: transparent url("../img/bg.png") no-repeat scroll right center;

}
.feature {
    width: 300px;
    margin:200px auto;
    text-align: center;
    box-shadow: 2px 9px 22px -13px;
}
.featureHeader {
    background-color: #387EF5;
    height: 35px;
    line-height: 35px;
    color: #ffffff;
    font-size: 25px;
    border-radius: 10px 10px 0 0;
}
.featureHeaderPast {
    background-color: #EE952A;
    height: 35px;
    line-height: 35px;
    color: #ffffff;
    font-size: 25px;
    border-radius: 10px 10px 0 0;
}
.featureBody {
    background-color: #F9F9F9;
    height: 200px;
    line-height: 200px;
    font-family: fantasy;
    font-size: 100px;
}
.featureFooter {
    background-color: #f2f2f2;
    height: 30px;
    line-height: 30px;
    color: #777777;
    font-family: cursive;
    font-size: 20px;
    border-radius: 0 0 15px 15px;
}
